In [10]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

In [34]:
def load_and_process(url_or_path_to_csv_file):

    # Method Chain 1 (Load data, deal with missing data, sort data, and reset index)

    df1 = (
          pd.read_csv(url_or_path_to_csv_file)
          .dropna()
          .sort_values('alcohol', ascending=False)
          .reset_index(drop=True)
      )

    # Make sure to return the latest dataframe

    return df1

In [35]:
df = load_and_process("../../data/raw/winequality-white.csv")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,6.4,0.350,0.28,1.60,0.037,31.0,113.0,0.98779,3.12,0.40,14.20,7
1,5.8,0.610,0.01,8.40,0.041,31.0,104.0,0.99090,3.26,0.72,14.05,7
2,5.0,0.455,0.18,1.90,0.036,33.0,106.0,0.98746,3.21,0.83,14.00,7
3,4.7,0.455,0.18,1.90,0.036,33.0,106.0,0.98746,3.21,0.83,14.00,7
4,4.9,0.330,0.31,1.20,0.016,39.0,150.0,0.98713,3.33,0.59,14.00,8
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.310,0.23,3.30,0.052,34.0,113.0,0.99429,3.16,0.48,8.40,5
4894,6.2,0.310,0.23,3.30,0.052,34.0,113.0,0.99429,3.16,0.48,8.40,5
4895,6.4,0.370,0.12,5.90,0.056,6.0,91.0,0.99536,3.06,0.46,8.40,4
4896,4.2,0.215,0.23,5.10,0.041,64.0,157.0,0.99688,3.42,0.44,8.00,3
4897,4.5,0.190,0.21,0.95,0.033,89.0,159.0,0.99332,3.34,0.42,8.00,5

In [28]:
def rename_and_drop(df):
    
    # Method Chain 2 (Rename columns, drop outliers, and reset the index)

     df2 = (
          df
          .rename(columns={"free sulfur dioxide": "free SO2"})
          .rename(columns={"total sulfur dioxide": "total SO2"})
          #.assign(High_quality = lambda x: x['quality']>3)
          .reset_index(drop=True)
      )

     return df2

In [29]:
df = rename_and_drop(df)
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free SO2,total SO2,density,pH,sulphates,alcohol,quality,High_quality
0,9.8,0.31,0.49,15.40,0.046,13.0,119.0,1.00040,3.18,0.45,9.5,5,True
1,9.4,0.23,0.56,16.45,0.063,52.5,282.0,1.00098,3.10,0.51,9.3,5,True
2,9.2,0.34,0.54,17.30,0.060,46.0,235.0,1.00182,3.08,0.61,8.8,6,True
3,8.9,0.24,0.33,15.75,0.035,16.0,132.0,0.99600,3.00,0.37,12.1,6,True
4,8.7,0.49,0.57,17.80,0.052,34.0,243.0,1.00070,2.98,0.82,9.0,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,5.7,0.22,0.20,16.00,0.044,41.0,113.0,0.99862,3.22,0.46,8.9,6,True
317,5.7,0.22,0.20,16.00,0.044,41.0,113.0,0.99862,3.22,0.46,8.9,6,True
318,5.7,0.22,0.22,16.65,0.044,39.0,110.0,0.99855,3.24,0.48,9.0,6,True
319,5.7,0.22,0.22,16.65,0.044,39.0,110.0,0.99855,3.24,0.48,9.0,6,True
320,5.0,0.44,0.04,18.60,0.039,38.0,128.0,0.99850,3.37,0.57,10.2,6,True